.fav-user:hover .nav {
  opacity: 1;
}

.fav-user:after {
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(229, 231, 235, 0.5);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.fav-user:hover::after {
  opacity: 1;
}

@media (min-width: 1280px) {
  .fav-user:after {
    display: block;
  }
}
