.change-btn.enter {
  opacity: 0;
  transform: translateX(-10px);
}
.change-btn.enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.change-btn.exit {
  opacity: 1;
  transform: translateX(0%);
}
.change-btn.exit-active {
  opacity: 0;
  transform: translateX(10px);
}

.change-btn.enter-active,
.change-btn.exit-active {
  transition: all 150ms linear;
}
