.change-btn.enter-active {
  animation: change-btn-in 150ms linear forwards;
}

.change-btn.exit-active {
  animation: change-btn-out 150ms linear forwards;
}

.repo-list-item.exit-active {
  animation: repo-list-out 400ms linear forwards;
}

@keyframes change-btn-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes change-btn-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}

@keyframes repo-list-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
